<ion-content>
  <img [src]="imagedisplay">
  <br />
  <ion-card>
    <div id="__brfv5" class="__brfv5" hidden></div>
    <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-card-subtitle id="emotion-evaluation">Status: Starting...</ion-card-subtitle>
            <ion-spinner name="crescent" id="spinner"></ion-spinner>
          </ion-row>
        </ion-grid>
        
      <ion-card-title>Boredom, Frustration</ion-card-title>
    </ion-card-header>
    <ion-card-content id="api-result" style="font-size: large;color:black;">
      -
    </ion-card-content>
  </ion-card>
</ion-content>